################################################
## Radarr Information
RADARR_APIKEY=<your-apikey-here>

#Radarr URL
# IMPORTANT: Do not include any / after the port
# Template: http(s)://<radarr-url>:<radarr-port>
RADARR_URL=http://example.url.com:7878

################################################

## Sonarr Instance
SONARR_APIKEY=<your-apikey-here>

## Sonarr Url
# IMPORTANT: Do not include any / after the port
# Template: http(s)://<radarr-url>:<radarr-port>
SONARR_URL=http://example.url.com:7878